body{
    margin: 0;
    height: 100vh;
    display: flex;
}

#sidebar{
    display: flex;
    flex-direction: column;
    width: auto;
    background: #7f7f7f;
    box-shadow: 2px 0 5x rgba(0,0,0,0.1);
}

#sidebar button{
    width: 5rem;
    height: 5rem;
    margin-top: 10px;

    margin-left: 10px;
    margin-right: 10px;
    background-color: #0078d4;
    border-radius: 8px;
    cursor: pointer;
}

#sidebar .active{
    background-color: rebeccapurple;
}

#view_container{
    flex: 1;
    width: 100%;
    border: none;
}