body.index-background {
    background-color: aliceblue; /* Heller Hintergrund */
    margin: 0;
    height: 100vh;
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: auto;
}

#sidebar button {
    width: 5rem;
    height: 5rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #0078d4; /* Blaue Hintergrundfarbe */
    border-radius: 8px;
    cursor: pointer;
}

#sidebar .active {
    background-color: rebeccapurple; /* Aktive Schaltfläche */
}

#view_container {
    flex: 1;
    width: 100%;
    border: none; /* Kein Rand um das iFrame */
}

/* Toggle-Schalter Styles */
.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Abstand nach oben */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Breite des Schalter */
    height: 34px; /* Höhe des Schalter */
}

.switch input {
    opacity: 0; /* Unsichtbar */
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Hintergrundfarbe für den Light-Modus */
    transition: .4s;
    border-radius: 34px; /* Rundungen */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px; /* Höhe des Schalterknopfes */
    width: 26px; /* Breite des Schalterknopfes */
    left: 4px; /* Abstand vom linken Rand */
    bottom: 4px; /* Abstand vom unteren Rand */
    background-color: white; /* Hintergrundfarbe des Schalterknopfes */
    transition: .4s;
    border-radius: 50%; /* Rundungen des Schalterknopfes */
}

input:checked + .slider {
    background-color: #0078d4; /* Hintergrundfarbe für den Dark-Modus */
}

input:checked + .slider:before {
    transform: translateX(26px); /* Verschiebung des Schalterknopfes */
}