<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">

</head>

<body>

  <div class="login-container">
    <img src="../../img/logo.webp" alt="Logo Chatserver">
    <div class="logo">
      <img src="chatserver-logo.png" alt="CHATSERVER Logo">
    </div>

    <h1>Login</h1>

    <form>
      <label for="user">E-Mail oder Benutzername</label>
      <input id="user" type="text" class="input-field" placeholder="Benutzername" required>

      <label for="pass">Passwort</label>
      <input id="pass" type="password" class="input-field" placeholder="Passwort" required>

      <button type="button" id="loginBtn" onclick="login()">Log In</button>
    </form>

    <div id="result" style="margin-top:12px;color:#b00"></div>

    <a href="forgot" class="text-link">Passwort vergessen?</a>
    <a href="register" class="sub-link">Neues Konto erstellen</a>
  </div>

  <script src="login.js"></script>

</body>

</html>