<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="./chatroom.css">
</head>
<body>
    <div id="app_container">
        <div id="chatroom_container">
            <ul id="chatroom_list">
                <li>Chatroom 1</li>
                <li>Chatroom 2</li>
            </ul>
        </div>
        <div id="message_container">
            <ul id="message_list">
                <li>Message 1</li>
                <li>Message 2</li>
            </ul>
            <div id="message_adder">
                <input type="text" id="message_input" placeholder="Input message..."/>
                <button id="send_button">Send</button>
            </div>
        </div>
    </div>
</body>
</html>